---
import EventHeader from './EventHeader.astro';
import EventPanels from './EventPanels.tsx';
import type { Event } from '../../types/types.ts'

interface Props {
	event: Event;
}

const {
	event
} = Astro.props;
---

<div class="font-[roboto]">
	<EventHeader
		name={event.name}
		desc={event.desc}
		region={event.region}
		dates={event.dates}
		prize="a showmatch idk"
	/>

	<EventPanels
		event={event}
		client:load
	/>

</div>
